h1 {
        color: #241958;
        text-align: center;
        font-size: 40px;
    }
body {text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-family: "Arial";
    background-color: #F4FDFF;
}
h2 { font-size: 30px;
color: #241958; 
line-height: .5;}
h3 { font-size: 22px;
color: #3b316b;}
h4 {font-size: 20px;
    color: #2B2840; 
line-height: 0.2;
font-style: oblique;
}
h5 {
    font-size: 17px;
    line-height: 0.2;
    color: #2B2840;
}
h6 {
    font-size: 17px;
    line-height: 1.5;
}
dl {
    font-size: 17px;
    line-height: 1.5;
}
