
.jumbotron-fluid
{
    text-align: center;
    background-color: pink;
}
.display-4
{ color: black;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.card-columns
{
     padding: 15px;
     
}
body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Anton', sans-serif;
}
.aboutmepic {
    width: 30%;
}
.eyelash-body {
    margin-right: 10%;
    margin-left: 10%;
    line-height: 25px;
}
.eyelashh2 {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
section {
    font-size: 19px;
    text-align: justify;
}
.extensions {
    float: left;
    padding: 15px;
}
.eyebrow {
    float: right;
    padding: 15px;
}
.color_h1 {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
.colors {
    margin-right: 10%;
    margin-left: 10%;
}
.color_image {
    width: 30%;
}
.colornames
{ font-weight: 500;
}


