.site-header{
    width: 100%;
    height: 75px;
    background-color: #333333;
}
.row{
    display: flex;
    columns: 2;
    width: 100%;
    flex-direction: row;
}
.col{
    flex: 1;
}
div.header {
    padding: 5px;
}

div.header p {
    margin: 0;
}

div.header h1 {
    margin: 5px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
img.responsive {
    width: 100%;
    height: auto;
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}
